.header {
  background: #fff;
  width: 100%;
  height: 10%;
  box-shadow: 5px 0px 8px 2px silver;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 100px;
}
.search-box {
  height: 80%;
  padding: 10px;
  width: 40%;
  border-radius: 3px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 1px silver;
}

.search-box input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
  height: 80%;
  font-size: large;
  color: gray;
}
.font-icon {
  color: gray;
}

.user-profile {
  height: 100%;
  width: 12.5%;
}

.user-profile img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  cursor: pointer;
}
